= form_with model: @post, class: :postForm, local: true do |form|
  -# タグ追加
  = form.collection_select :tag_ids, Tag.all, :id, :name, {prompt: "選択してください"}, class: :postForm__tagSelect
  = form.text_field :title, placeholder: :"タイトル ※必須 ", class: :postForm__title
  = form.text_area :content, placeholder: :"本文", class: :postForm__content
  -# = form.fields_for :images do |img|
  -#   = img.file_field :src, class: :postForm__image
  .postForm__image
    #image-box
      #previews
        - if @post.persisted?
          - @post.images.each_with_index do |image, i|
            = image_tag image.src.url, data: { index: i }, width: "150", height: '100'
      = form.fields_for :images do |image|
        .js-file_group{"data-index" => image.index}
          -# = form.label :image, class: "js-file postForm__image" do
          -#   = icon('fas', 'image', class: "icon")
          -#   = image.file_field :src
          -# %br/
          = image.file_field :src, class: 'js-file'
          %br/
          %span.js-remove 削除x
        - if @post.persisted?
          = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
      - if @post.persisted?
        .js-file_group{"data-index" => @post.images.count}
          = form.label :image, class: "js-file postForm__image" do
            = icon('fas', 'image', class: "icon")
            = file_field_tag :src, name: "post[images_attributes][#{@post.images.count}][src]"
          .js-remove 削除y
  = form.submit '送信', class: :postForm__btn
