%header.header
  .header__left
    .header__left__title
      = link_to root_path, class: "header__left__title--text" do
        = image_tag("logo.png")
    .header__left__content
      - if user_signed_in?
        = form_with(url: search_posts_path, local: true, method: :get, class: "header__left__content__search") do |form|
          = form.text_field :keyword, placeholder: "キーワード"
          = form.submit "検索", class: "btn btn-primary"
  .header__right
    - if user_signed_in?
      = link_to "都道府県", prefectures_posts_path, class: "header__right__content"
      = link_to "ランキング", ranking_posts_path(@posts), class: "header__right__content"
      = link_to "マイページ", user_path(current_user), class: "header__right__content"
      = link_to  new_post_path, class: "header__right--btn" do
        %span.fas.fa-plus.fa-4x
    - else
      = link_to "ログイン", new_user_session_path, class: "header__right__content"
      = link_to "新規登録", new_user_registration_path, class: "header__right__content"

