.content
  .content__top
    - if post.images.present?
      = link_to post_path(post.id) do
        .content__top__image-contents
          - if post.images.count == 1
            - post.images.each do |image|
              = image_tag image.src.url, class:"content__top__image-contents--image"
          - else
            - post.images.each do |image|
              = image_tag image.src.url, class:"content__top__image-contents--image4"
    - else
      %p.content__top--image
  .content__info
    .content__info__left
      .content__info__left--image
        = link_to user_path(post.user_id) do
          - if post.user.image?
            = image_tag post.user.image.url, class: "content__info__left--image"
    .content__info__right
      .content__info__right__top
        = link_to post.title, post_path(post.id), class: "content__info__right__top--title"
        .content__info__right__top--date
          = post.created_at.strftime("%Y-%m-%d %H:%M")
      .content__info__right__bottom
        .content__info__right__bottom__user
          .content__info__right__bottom__user--Name
            = link_to post.user.nickname, user_path(post.user_id), class: "content__info__right__bottom__user--Name--btn"
        .content__info__right__bottom__tag
          - post.tags.each do |tag|
            .post-tag-label.btn.btn-info
              ＃
              = link_to tag.name, posts_path(tag_id: tag.id)
            .post-tag-prefecture
              ＠
              = Prefecture.find(post.prefecture_id).name 
          %span.far.fa-thumbs-up.fa-3x.like-btn
            = post.likes_count   


