.contents
  .contents__prefecture.form-group
    = form_with url: prefectures_posts_path, method: :get, class: 'contents__prefecture__Form' do |form|
      = form.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "都道府県を選択してください"}, onchange: 'submit(this.form);'
    - if params[:prefecture_id].present?
      .tag-index
        = @results
      - @posts.each do |post|
        = render partial: "post", locals: { post: post }
      = paginate(@posts)