.contents
  .postTitle
    = @post.title
    @
    = @post.tags&.first&.name 
  .postDate
    .postDate__created
      投稿時間:
      = @post.created_at.strftime("%Y-%m-%d %H:%M")
    .postDate__updated
      更新時間:
      = @post.updated_at.strftime("%Y-%m-%d %H:%M")
  .postAuthor
  - if user_signed_in? && current_user.id == @post.user_id
    .postManage
      = link_to "編集", edit_post_path(@post.id), class: "postManage__edit"
      = link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete"
  -# いいね
  #likes
    = render partial: "likes/like", locals: { post: @post }
  -# テキスト内容
  .postContent
    = simple_format @post.content
  -# 画像
  - if @post.images.present?
    - @post.images.each do |image|
      = image_tag image.src.url, class:"content__top--image"
      -# = image_tag @post.image.src.url, class: 'postImage' 
  - else
    %p.postImage
  -# コメント
  .container
    - if current_user
      = form_with(model: [@post, @comment], class: "postComment", local: true) do |form|
        = form.text_area :text, placeholder: "コメントする", size: "100x4"
        = form.submit "送信", class: "btn btn-outline-secondary postComment__submit"

    -# 投稿されたコメント一覧
    .container__comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
              ：
            = comment.text
