!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    -# Required meta tags for bootstrap
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title JapanTraveler 〜日本を体感しよう〜
    = csrf_meta_tags
    = csp_meta_tag
    -# フォント
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700", :rel => "stylesheet"}/
    -# font-awesome
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
    -# jQuery読み込み
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    -# bootstrap
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
    -# js bootstrap
    %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
    %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -# turbolinksなしパターン
    -# = stylesheet_link_tag    'application', media: 'all'
    -# = javascript_include_tag 'application'
    
  %body
    -# %nav.header.header.navbar.navbar-expand-lg.navbar-light.bg-light
    
    %header.header
      .header__title
        = link_to root_path, class: "header__title--text" do
          = image_tag("logo.png")
      - if user_signed_in?
        .header__left
          = link_to "都道府県検索", "#", class: "btn-outline-success header__left--btn"
          -# = link_to "タグ検索", "#", class: "btn-outline-success header__left--btn"
          = link_to "ランキング", ranking_posts_path(@posts), class: "btn-outline-success header__left--btn"
      .header__right
        - if user_signed_in?
          = link_to current_user.nickname, user_path(current_user), class: "btn-outline-success header__right--btn"
          = link_to "新規投稿", new_post_path, class: "btn-outline-success header__right--btn"
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn-outline-success header__right--btn"
        - else
          = link_to "ログイン", new_user_session_path, class: "btn-outline-success header__right--btn"
          = link_to "新規登録", new_user_registration_path, class: "btn-outline-success header__right--btn"
    = yield
